.terminal.content {
  padding: 1rem;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 255, 0, 0.6) #001100;
  z-index: 1;
}

/* Text color and shadow (RGB shift) */
.terminal.content * {
  overflow-wrap: break-word;
  color: #00ff00;
  font-size: 1rem;
  text-shadow: 0.08rem 0 0 rgba(255, 0, 0, 0.3),
    -0.08rem 0 0 rgba(0, 255, 255, 0.3);
}

/* Highlighting text */
.terminal.content *::selection {
  background: rgba(0, 255, 0, 0.3);
}

.terminal.content:focus {
  outline: none;
}

.terminal-output-line {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.terminal-output-line .prompt {
  flex: 0 0 auto;
}

.terminal-output-line .command {
  flex: 1 1 auto;
  white-space: pre-wrap;
  word-break: break-word;
}

.terminal-input-line {
  display: flex;
  align-items: baseline;
}

.terminal-input {
  padding: 0;
  flex: 1;
  background: transparent;
  border: none;
  outline: none;
  caret-color: #00ff00;
}

.terminal-input.no-cursor {
  caret-color: transparent;
}

.typing-cursor {
  animation: blink 0.7s infinite;
  will-change: opacity;
}
@keyframes blink {
  0%,
  50% {
    opacity: 1;
  }
  51%,
  100% {
    opacity: 0;
  }
}
