.thome.content {
  padding: 1rem;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

/* Text color and shadow (RGB shift) */
.thome.content * {
  overflow-wrap: break-word;
  color: #00ff00;
  font-size: 1rem;
  text-shadow: 0.08rem 0 0 rgba(255, 0, 0, 0.3),
    -0.08rem 0 0 rgba(0, 255, 255, 0.3);
}

/* Highlighting text */
.thome.content *::selection {
  background: rgba(0, 255, 0, 0.3);
}

.title,
.menu {
  text-align: center;
}

.thome.input-line {
  display: flex;
  align-items: baseline;
}

.thome.input {
  padding: 0;
  background: transparent;
  border: none;
  outline: none;
  caret-color: #00ff00;
  text-align: center;
}

.thome.input.no-cursor {
  caret-color: transparent;
}
