.tetris-content {
  padding: 1rem;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  z-index: 1;
}

/* Text color and shadow (RGB shift) */
.tetris-content * {
  overflow-wrap: break-word;
  color: #00ff00;
  font-size: 1rem;
  text-shadow: 0.08rem 0 0 rgba(255, 0, 0, 0.3),
    -0.08rem 0 0 rgba(0, 255, 255, 0.3);
}

.back-button {
  padding: 0.625rem 0.9375rem;
  background: rgba(0, 255, 0, 0.1);
  border: 1px solid #00ff00;
  color: #00ff00;
  font-family: "Courier New", monospace;
  cursor: pointer;
  border-radius: 0.3125rem;
  font-size: 0.75rem;
  z-index: 1000;
}

.back-button:hover {
  background: rgba(0, 255, 0, 0.2);
}
