.controls-container {
  width: 100%;
  max-width: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 0.5rem;
}

.top-controls,
.bottom-controls {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  align-items: center;
  flex-wrap: wrap;
}

.control {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  min-width: 5rem;
  background: rgba(0, 255, 0, 0.1);
  border: 1px solid #00ff00;
  color: #00ff00;
  font-family: "Courier New", monospace;
  font-size: 3rem;
  cursor: pointer;
  border-radius: 0.3125rem;
  z-index: 1000;
}

.control:hover {
  background: rgba(0, 255, 0, 0.2);
}
