.crt-container {
  margin: 1rem 20px;
  padding: 1rem;
  width: 40rem;
  max-width: 40rem;
  height: 30rem;
  background: #000;
  border-radius: 1.2rem;
  box-shadow: 0 0 6.25rem rgba(0, 255, 100, 0.3);
  overflow: hidden;
}

.crt-screen {
  position: relative;
  width: 100%;
  height: 100%;
  background: #000;
  overflow: hidden;
}

/* Circular glow */
.crt-glow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    ellipse at center,
    rgba(0, 255, 100, 0.2) 0%,
    transparent 100%
  );
  pointer-events: none;
  animation: glow 2s ease-in-out infinite alternate;
  will-change: opacity;
  z-index: 2;
}
@keyframes glow {
  0% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

/* Horizontal lines */
.crt-screen::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: repeating-linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.15) 0rem,
    rgba(0, 0, 0, 0.15) 0.4rem,
    transparent 0.4rem,
    transparent 0.8rem
  );
  pointer-events: none;
  z-index: 3;
}

/* Flickering foreground */
.crt-screen::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  pointer-events: none;
  z-index: 5;
  animation: flicker 0.2s infinite;
  will-change: opacity;
}
@keyframes flicker {
  0% {
    opacity: 0.32;
  }
  10% {
    opacity: 0.18;
  }
  20% {
    opacity: 0.91;
  }
  30% {
    opacity: 0.24;
  }
  40% {
    opacity: 0.77;
  }
  50% {
    opacity: 0.15;
  }
  60% {
    opacity: 0.88;
  }
  70% {
    opacity: 0.41;
  }
  80% {
    opacity: 0.69;
  }
  90% {
    opacity: 0.28;
  }
  100% {
    opacity: 0.52;
  }
}

/* Scanline */
.crt-scanline {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0.5rem;
  background: linear-gradient(
    to bottom,
    transparent,
    rgba(255, 255, 255, 0.08),
    transparent
  );
  pointer-events: none;
  z-index: 4;
  animation: roll 6s linear infinite;
  will-change: transform, opacity;
}
@keyframes roll {
  0% {
    transform: translateY(-100%);
    opacity: 1;
  }
  66% {
    transform: translateY(calc(100% + 40rem));
  }
  100% {
    transform: translateY(calc(100% + 40rem));
    opacity: 0;
  }
}

/* V1 - Black transition */
.content {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

/* .content::after {
  content: "";
  position: absolute;
  inset: 0;
}

.fade-out::after {
  content: "";
  position: absolute;
  inset: 0;
  height: 100%;
  background: red;
  pointer-events: none;
  z-index: 1;
}

.fade-in::after {
  content: "";
  position: absolute;
  inset: 0;
  height: 100%;
  background: white;
  pointer-events: none;
  z-index: 1;
} */

/* V2 - Swipe transition */

.content::after {
  content: "";
  position: absolute;
  inset: 0;
  height: 120%;
  top: -10%;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.1) 0rem,
    #000 0.3rem,
    #000 calc(100% - 0.3rem),
    rgba(255, 255, 255, 0.1) 100%
  );
  pointer-events: none;
  z-index: 1;
  transform: translateY(-100%);
}

.fade-out::after {
  animation: cover 1s linear forwards;
}
@keyframes cover {
  from {
    transform: translateY(-100%);
    opacity: 1;
  }
  50% {
    transform: translateY(-75%);
  }
  to {
    transform: translateY(0%);
  }
}

.fade-in::after {
  animation: uncover 1s linear forwards;
}
@keyframes uncover {
  from {
    transform: translateY(0%);
    opacity: 1;
  }
  50% {
    transform: translateY(25%);
  }
  to {
    transform: translateY(100%);
  }
}
