/* Containers */
.outer-container {
  height: 100vh;
  height: 100dvh;
  display: flex;
  flex-direction: column;
}

.top-container {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 1rem;
  gap: 0.2rem;
}

.middle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto 0;
  flex-wrap: wrap;
}
