/* Containers */
.outer-container {
  height: 100vh;
  height: 100dvh;
  display: flex;
  flex-direction: column;
}

.top-container {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 1rem;
  gap: 0.2rem;
}

.middle-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto 0;
  flex-wrap: wrap;
}

.middle-container .container {
  width: 100%;
  height: 100%;
}

.controls {
  display: flex;
  gap: 1rem;
}

.control {
  padding: 0.625rem 0.9375rem;
  background: rgba(0, 255, 0, 0.1);
  border: 1px solid #00ff00;
  color: #00ff00;
  font-family: "Courier New", monospace;
  cursor: pointer;
  border-radius: 0.3125rem;
  font-size: 0.75rem;
  z-index: 1000;
}

.control:hover {
  background: rgba(0, 255, 0, 0.2);
}
