/* Containers */
.outer-container {
  height: 100vh;
  height: 100dvh;
  display: flex;
  flex-direction: column;
}

.top-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1rem;
}

.middle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto 0;
}

.bottom-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
